<div class="card tag-block">
  <div class="card-body">
    <h5 class="card-title">Popular tags</h5>
    <div class="tag-list">
              <span class="border rounded tag">
                <a href="#" class="card-text">ipsum</a>
              </span>
      <span class="border rounded tag">
                <a href="#" class="card-text">sam sebe dor</a>
              </span>
      <span class="border rounded tag">
                <a href="#" class="card-text">random tag</a>
              </span>
      <span class="border rounded tag">
                <a href="#" class="card-text">lorem</a>
              </span>
      <span class="border rounded tag">
                <a href="#" class="card-text">lorem ipsum dolor</a>
              </span>
      <span class="border rounded tag">
                <a href="#" class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero corporis, debitis voluptatibus necessitatibus
                  autem corrupti ducimus vero unde pariatur voluptas velit, maiores doloribus itaque eligendi nostrum sequi
                  est? Soluta, quisquam.</a>
              </span>
      <span class="border rounded tag">
                <a href="#" class="card-text">lorem ipsum ipsum ipsum</a>
              </span>
    </div>
  </div>
</div>